UI/Web References/Test/WSFaces.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUserIdAndPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdAndPhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserIdAndPhoneResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificationCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificationCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificationCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFacesMore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="keyCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFacesMoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckFacesMoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sfz" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sjh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvatarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenPliceFace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RealName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenPliceFaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenPliceFaceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RealName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="VerifyFlag" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CardType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MedicareNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealNameAuth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdCard" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RealName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HospCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealNameAuthResponse">
        <s:complexType />
      </s:element>
      <s:element name="ScanCodeGen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outTradeNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScanCodeGenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ScanCodeGenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoopQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoopQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoopQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoopQuerys">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="o" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoopQuerysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoopQuerysResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPaymentRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HospCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HisOrderNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Billnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Billmoney" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Payment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sourceaccount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPaymentRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPaymentRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserIdAndPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserIdAndPhone" />
  </wsdl:message>
  <wsdl:message name="GetUserIdAndPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIdAndPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="VerificationCodeSoapIn">
    <wsdl:part name="parameters" element="tns:VerificationCode" />
  </wsdl:message>
  <wsdl:message name="VerificationCodeSoapOut">
    <wsdl:part name="parameters" element="tns:VerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="CheckFacesMoreSoapIn">
    <wsdl:part name="parameters" element="tns:CheckFacesMore" />
  </wsdl:message>
  <wsdl:message name="CheckFacesMoreSoapOut">
    <wsdl:part name="parameters" element="tns:CheckFacesMoreResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvatarSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvatar" />
  </wsdl:message>
  <wsdl:message name="GetAvatarSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenPliceFaceSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenPliceFace" />
  </wsdl:message>
  <wsdl:message name="AuthenPliceFaceSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenPliceFaceResponse" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:UserRegister" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:UserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="RealNameAuthSoapIn">
    <wsdl:part name="parameters" element="tns:RealNameAuth" />
  </wsdl:message>
  <wsdl:message name="RealNameAuthSoapOut">
    <wsdl:part name="parameters" element="tns:RealNameAuthResponse" />
  </wsdl:message>
  <wsdl:message name="ScanCodeGenSoapIn">
    <wsdl:part name="parameters" element="tns:ScanCodeGen" />
  </wsdl:message>
  <wsdl:message name="ScanCodeGenSoapOut">
    <wsdl:part name="parameters" element="tns:ScanCodeGenResponse" />
  </wsdl:message>
  <wsdl:message name="LoopQuerySoapIn">
    <wsdl:part name="parameters" element="tns:LoopQuery" />
  </wsdl:message>
  <wsdl:message name="LoopQuerySoapOut">
    <wsdl:part name="parameters" element="tns:LoopQueryResponse" />
  </wsdl:message>
  <wsdl:message name="LoopQuerysSoapIn">
    <wsdl:part name="parameters" element="tns:LoopQuerys" />
  </wsdl:message>
  <wsdl:message name="LoopQuerysSoapOut">
    <wsdl:part name="parameters" element="tns:LoopQuerysResponse" />
  </wsdl:message>
  <wsdl:message name="AddPaymentRecordSoapIn">
    <wsdl:part name="parameters" element="tns:AddPaymentRecord" />
  </wsdl:message>
  <wsdl:message name="AddPaymentRecordSoapOut">
    <wsdl:part name="parameters" element="tns:AddPaymentRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="WSFacesSoap">
    <wsdl:operation name="GetUserIdAndPhone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据身份证、手机号查询用户信息</wsdl:documentation>
      <wsdl:input message="tns:GetUserIdAndPhoneSoapIn" />
      <wsdl:output message="tns:GetUserIdAndPhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificationCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送手机验证码</wsdl:documentation>
      <wsdl:input message="tns:VerificationCodeSoapIn" />
      <wsdl:output message="tns:VerificationCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckFacesMore">
      <wsdl:input message="tns:CheckFacesMoreSoapIn" />
      <wsdl:output message="tns:CheckFacesMoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvatar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户头像信息</wsdl:documentation>
      <wsdl:input message="tns:GetAvatarSoapIn" />
      <wsdl:output message="tns:GetAvatarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenPliceFace">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">公安验证</wsdl:documentation>
      <wsdl:input message="tns:AuthenPliceFaceSoapIn" />
      <wsdl:output message="tns:AuthenPliceFaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterSoapIn" />
      <wsdl:output message="tns:UserRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealNameAuth">
      <wsdl:input message="tns:RealNameAuthSoapIn" />
      <wsdl:output message="tns:RealNameAuthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ScanCodeGen">
      <wsdl:input message="tns:ScanCodeGenSoapIn" />
      <wsdl:output message="tns:ScanCodeGenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoopQuery">
      <wsdl:input message="tns:LoopQuerySoapIn" />
      <wsdl:output message="tns:LoopQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoopQuerys">
      <wsdl:input message="tns:LoopQuerysSoapIn" />
      <wsdl:output message="tns:LoopQuerysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPaymentRecord">
      <wsdl:input message="tns:AddPaymentRecordSoapIn" />
      <wsdl:output message="tns:AddPaymentRecordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSFacesSoap" type="tns:WSFacesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserIdAndPhone">
      <soap:operation soapAction="http://tempuri.org/GetUserIdAndPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificationCode">
      <soap:operation soapAction="http://tempuri.org/VerificationCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFacesMore">
      <soap:operation soapAction="http://tempuri.org/CheckFacesMore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatar">
      <soap:operation soapAction="http://tempuri.org/GetAvatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenPliceFace">
      <soap:operation soapAction="http://tempuri.org/AuthenPliceFace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap:operation soapAction="http://tempuri.org/UserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealNameAuth">
      <soap:operation soapAction="http://tempuri.org/RealNameAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanCodeGen">
      <soap:operation soapAction="http://tempuri.org/ScanCodeGen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoopQuery">
      <soap:operation soapAction="http://tempuri.org/LoopQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoopQuerys">
      <soap:operation soapAction="http://tempuri.org/LoopQuerys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPaymentRecord">
      <soap:operation soapAction="http://tempuri.org/AddPaymentRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSFacesSoap12" type="tns:WSFacesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserIdAndPhone">
      <soap12:operation soapAction="http://tempuri.org/GetUserIdAndPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificationCode">
      <soap12:operation soapAction="http://tempuri.org/VerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFacesMore">
      <soap12:operation soapAction="http://tempuri.org/CheckFacesMore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatar">
      <soap12:operation soapAction="http://tempuri.org/GetAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenPliceFace">
      <soap12:operation soapAction="http://tempuri.org/AuthenPliceFace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap12:operation soapAction="http://tempuri.org/UserRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealNameAuth">
      <soap12:operation soapAction="http://tempuri.org/RealNameAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanCodeGen">
      <soap12:operation soapAction="http://tempuri.org/ScanCodeGen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoopQuery">
      <soap12:operation soapAction="http://tempuri.org/LoopQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoopQuerys">
      <soap12:operation soapAction="http://tempuri.org/LoopQuerys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPaymentRecord">
      <soap12:operation soapAction="http://tempuri.org/AddPaymentRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFaces">
    <wsdl:port name="WSFacesSoap" binding="tns:WSFacesSoap">
      <soap:address location="http://localhost:4862/WSFaces.asmx" />
    </wsdl:port>
    <wsdl:port name="WSFacesSoap12" binding="tns:WSFacesSoap12">
      <soap12:address location="http://localhost:4862/WSFaces.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>